@media (max-width: 576px) {
    .accordion {
        cursor: pointer;
        outline: none;
        transition: 0.4s;
    }

    .panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

// .accordion__about {
//     cursor: pointer;
//     outline: none;
//     transition: 0.4s;
// }

// .panel__about {
//     max-height: 0;
//     overflow: hidden;
//     transition: max-height 0.2s ease-out;
// }
