.member__list {
    .item {
        display: flex !important;
        justify-content: center;
        position: relative;
        z-index: 1999;
    }
}

.member {
    padding-bottom: 90px;
    .subtitle {
        margin-bottom: 40px;
    }
    @media (max-width: 768px) {
        padding-bottom: 60px;
    }
}
