#popup {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;

	.main-footer__social {
		padding-top: 20px;
	}

	@media (max-width: 576px) {
		width: 90%;
	}
}

#popup-review {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 400px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
	overflow-y: auto;

	.main-footer__social {
		padding-top: 20px;
	}

	.review-big {
		display: none;
		font-size: 18px;
		font-weight: 400;
		position: relative;
		padding: 10px 20px;

		&.active {
			display: block;
		}
		&::before {
			content: "";
			position: absolute;
			background-image: url("../images/cross.svg");
			top: 0;
			right: 0;
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	}

	.review-big__content {
		margin-bottom: 20px;
	}

	@media (max-width: 576px) {
		width: 90%;
	}
}
