extends pug/base

append vars
	//- ...

block content


	header.main-header#anchor1
		.container
			nav.main-nav
				.burger
					img(src="images/burger.svg", alt="" width="32" height="24")
				ul.main-nav__list
					li
						a(href="#anchor1").anchor-link Главная
					li
						a(href="#anchor2") Услуги
					li
						a(href="#anchor3") Результаты
					li
						a(href="#anchor4") Обо мне
					li
						a(href="#anchor5") Отзывы
					li
						a(href="#anchor6") Контакты
				ul.main-nav__contacts
					li
						a(href="tel:81234567890").on-mobile
							img(src="../images/phone.svg", alt="")
						a(href="tel:89202624422").on-desktop 8 (920) 262 44 22
					li
						a(href="https://yandex.ru/maps/8/kursk/house/prospekt_pobedy_50/Z08YdwBhTEIFQFtrfXt5c3VnYA==/?ll=36.171572%2C51.782944&sll=36.192647%2C51.730361&sspn=0.580902%2C0.211273&z=17").on-mobile 
							img(src="../images/location.svg", alt="")
						a(href="https://yandex.ru/maps/8/kursk/house/prospekt_pobedy_50/Z08YdwBhTEIFQFtrfXt5c3VnYA==/?ll=36.171572%2C51.782944&sll=36.192647%2C51.730361&sspn=0.580902%2C0.211273&z=17").on-desktop пр-т Победы 50, "Мир здоровья"
	main
		section.name
			.container
				.name__circle
					.circle-1
				.name__wrapper
					ul.name__list
						h2.name__title 
							span Флеболог
							span Синицын Александр Александрович
						li 16 лет врачебной практики
						li Более 500 операций в год
						li Более 1500 консультаций и УЗИ сосудов в год
						li Современные методы лечения варикозной болезни
						li Прием по адресу: Проспект победы, 50, клиника «Мир здоровья»
						.name__btns
							a(href="tel:8247835") Позвонить
							a#write-to-me Написать
					.name__photo
						.name__photo-pic

		section.direction#anchor2
			.container
				.direction__circle
					span.circle-1
					span.circle-2
					//- span.circle-3
				h2.main-title Услуги
				h3.subtitle Услуги
				.direction__wrapper
					ul.direction__left-list
						li.direction__item
							.direction__top.accordion
								.direction__picture
									.direction__circle-pic
										<svg width="80" height="80" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
											<path d="M504.485,103.209C508.636,103.209 512,99.845 512,95.694L512,71.648C512,49.825 494.245,32.071 472.423,32.071L191.875,32.071C170.052,32.071 152.298,49.826 152.298,71.648L152.298,106.623C65.904,119.928 0,186.864 0,267.196C0,293.431 7.197,319.504 20.812,342.597C32.916,363.127 50.099,381.381 70.736,395.688L40.633,469.596C39.525,472.318 40.139,475.524 42.177,477.641C44.512,480.066 48.289,480.637 51.236,479.005L145.69,426.663C158.185,429 171.01,430.184 183.86,430.184C250.239,430.184 308.51,398.838 340.838,351.968L452.059,430.476C454.903,432.483 458.859,432.24 461.438,429.904C463.625,427.923 464.454,424.76 463.521,421.96L440.098,351.695L472.422,351.695C494.245,351.695 511.999,333.94 511.999,312.118L511.999,132.099C511.999,127.948 508.635,124.584 504.484,124.584C500.333,124.584 496.969,127.948 496.969,132.099L496.969,312.118C496.969,325.654 485.958,336.666 472.421,336.666L429.671,336.666C424.631,336.666 420.945,341.768 422.542,346.557L442.022,404.996L348.781,339.179C360.895,317.458 367.717,293.021 367.717,267.195C367.717,177.325 285.239,104.211 183.858,104.211C178.285,104.211 172.773,104.444 167.326,104.877L167.326,71.647C167.326,58.111 178.338,47.099 191.874,47.099L472.422,47.099C485.958,47.099 496.97,58.111 496.97,71.647L496.97,95.694C496.971,99.845 500.334,103.209 504.485,103.209ZM183.859,415.152C171.065,415.152 158.301,413.888 145.922,411.396C144.174,411.043 142.356,411.325 140.796,412.19L62.592,455.528L86.968,395.682C88.332,392.331 87.116,388.485 84.074,386.528C40.841,358.706 15.029,314.096 15.029,267.196C15.029,195.065 74.238,134.834 152.297,121.845L152.297,312.118C152.297,333.941 170.052,351.695 191.874,351.695L322.365,351.695C291.826,390.024 241.132,415.152 183.859,415.152ZM183.859,119.241C276.952,119.241 352.689,185.614 352.689,267.196C352.689,292.289 345.515,315.939 332.883,336.666L191.875,336.666C178.339,336.666 167.327,325.655 167.327,312.118L167.327,119.951C172.767,119.485 178.281,119.241 183.859,119.241Z" style="fill-rule:nonzero;"/>
											<path d="M309.927,200.247C298.265,189.386 277.185,187.92 254.851,207.392C232.517,187.919 211.436,189.384 199.776,200.247C188.036,211.183 185.376,232.699 203.007,252.661C219.959,271.855 248.543,298.301 249.751,299.417C252.592,302.043 257.107,302.042 259.949,299.417C261.157,298.301 289.741,271.855 306.694,252.661C324.327,232.699 321.666,211.184 309.927,200.247ZM295.432,242.712C283.167,256.598 263.948,275.024 254.852,283.605C245.756,275.025 226.543,256.605 214.273,242.712C203.003,229.952 203.603,217.223 210.022,211.245C212.648,208.799 216.29,207.369 220.683,207.369C228.433,207.369 238.521,211.819 249.491,222.988C252.394,225.944 257.31,225.944 260.213,222.988C277.403,205.49 292.423,204.483 299.683,211.245C306.1,217.224 306.701,229.952 295.432,242.712Z" style="fill-rule:nonzero;"/>
										</svg>
								span.direction__title Консультация
							.direction__bottom.panel
								p Я консультирую пациентов с заболеваниями вен и лимфатической системы. На моем приеме любой пациент может рассчитывать на то, что получит полную информацию о своей болезни, о методах лечения и профилактики. Независимо от вида вмешательства я обязательно приглашаю на контрольные осмотры и веду пациента до выздоровления. 
						li.direction__item
							.direction__top.accordion
								.direction__picture
									.direction__circle-pic
										<svg width="80" height="80" viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><path d="M455.263,444.311l0,47.525" style="fill:none;stroke:#185b8d;stroke-width:15px;"/><path d="M492.403,451.439c0,-3.934 -3.194,-7.128 -7.128,-7.128l-125.302,0c-3.935,0 -7.129,3.194 -7.129,7.128l0,33.268c0,3.934 3.194,7.129 7.129,7.129l125.302,0c3.934,-0.001 7.128,-3.195 7.128,-7.129c0,0 0,0 0,0c0,-0.022 0,-33.268 0,-33.268Z" style="fill:none;stroke:#185b8d;stroke-width:15px;"/><path d="M130.791,81.275l41.654,0" style="fill:none;stroke:#185b8d;stroke-width:15px;"/><path d="M209.827,99.432c0,0 63.338,22.963 86.301,0l76.044,97.193c0,0 -111.078,113.214 -236.575,0l74.23,-97.193Z" style="fill:none;stroke:#185b8d;stroke-width:15px;"/><path d="M95.257,170.073l0,86.258c0,21.033 17.076,38.109 38.108,38.109l239.359,0c21.033,0 38.108,-17.076 38.108,-38.109l0,-83.95" style="fill:none;stroke:#185b8d;stroke-width:15px;"/><path d="M410.832,140.195l0,-61.702c0,-21.033 -17.075,-38.109 -38.108,-38.109l-239.359,0c-21.032,0 -38.108,17.076 -38.108,38.109l0,55.949" style="fill:none;stroke:#185b8d;stroke-width:15px;"/><path d="M455.263,56.949c0,-27.292 -22.157,-49.449 -49.449,-49.449l-301.955,0c-27.292,0 -49.449,22.157 -49.449,49.449l0,230.764c0,27.291 22.157,49.449 49.449,49.449l301.955,0c27.292,0 49.449,-22.158 49.449,-49.449l0,-230.764Z" style="fill:none;stroke:#185b8d;stroke-width:15px;"/><path d="M109.498,411.214l-66.077,0c0,0 -34.178,-4.557 -35.887,30.76c-1.709,35.317 61.52,26.099 103.673,26.099l238.105,0" style="fill:none;stroke:#185b8d;stroke-width:15px;"/><path d="M206.826,337.162l0,78.092c0,7.275 5.898,13.173 13.173,13.173c17.508,0 48.2,0 65.151,0c6.686,0 12.105,-5.42 12.105,-12.105c0,-24.819 0,-79.16 0,-79.16l-90.429,0Z" style="fill:none;stroke:#185b8d;stroke-width:15px;"/><path d="M139.628,411.022l26.772,0" style="fill:none;stroke:#185b8d;stroke-width:15px;"/></svg>				
								span.direction__title Диагностика
							.direction__bottom.panel
								p 
									a(href="#anchor7").link Ультразвуковое исследование
									span  сосудов я выполняю сам, как с диагностической целью на первичном приеме, так и для того, чтобы оценить результаты лечения при повторных визитах. 					
					ul.direction__right-list
						li.direction__item
							.direction__top.accordion
								.direction__picture
									.direction__circle-pic
									<svg width="80" height="80" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
										<g>
											<path d="M394.821,302.467C394.821,225.921 332.546,163.646 256,163.646C179.454,163.646 117.179,225.921 117.179,302.467C117.179,379.013 179.454,441.288 256,441.288C332.546,441.288 394.821,379.014 394.821,302.467ZM132.179,302.467C132.179,234.192 187.725,178.646 256,178.646C324.275,178.646 379.821,234.192 379.821,302.467C379.821,370.742 324.275,426.288 256,426.288C187.725,426.288 132.179,370.743 132.179,302.467Z" style="fill-rule:nonzero;"/>
											<path d="M484.297,119.199L389.771,119.199L389.771,96.395C389.771,92.253 386.414,88.895 382.271,88.895L374.619,88.895L374.619,53.967C374.619,38.692 362.191,26.264 346.916,26.264L212.677,26.264C208.534,26.264 205.177,29.622 205.177,33.764C205.177,37.906 208.534,41.264 212.677,41.264L346.915,41.264C353.92,41.264 359.618,46.963 359.618,53.967L359.618,88.894L344.313,88.894L344.313,64.069C344.313,59.927 340.956,56.569 336.813,56.569L175.187,56.569C171.044,56.569 167.687,59.927 167.687,64.069L167.687,88.894L152.382,88.894L152.382,53.967C152.382,46.963 158.08,41.264 165.085,41.264L177.5,41.264C181.643,41.264 185,37.906 185,33.764C185,29.622 181.643,26.264 177.5,26.264L165.085,26.264C149.81,26.264 137.382,38.692 137.382,53.967L137.382,88.894L129.73,88.894C125.587,88.894 122.23,92.252 122.23,96.394L122.23,119.199L27.703,119.199C12.428,119.199 0,131.627 0,146.902L0,258.087C0,262.229 3.357,265.587 7.5,265.587C11.643,265.587 15,262.229 15,258.087L15,146.902C15,139.898 20.698,134.199 27.703,134.199L46.467,134.199L46.467,167.105C46.467,171.247 49.824,174.605 53.967,174.605L104.476,174.605C108.619,174.605 111.976,171.247 111.976,167.105L111.976,134.199L400.025,134.199L400.025,167.105C400.025,171.247 403.382,174.605 407.525,174.605L458.034,174.605C462.177,174.605 465.534,171.247 465.534,167.105L465.534,134.199L484.298,134.199C491.303,134.199 497.001,139.898 497.001,146.902L497.001,258.087C497.001,262.229 500.358,265.587 504.501,265.587C508.644,265.587 512.001,262.229 512.001,258.087L512.001,146.902C512,131.627 499.572,119.199 484.297,119.199ZM374.771,119.199L329.161,119.199L329.161,103.894L374.771,103.894L374.771,119.199ZM182.687,71.569L329.314,71.569L329.314,88.894L321.661,88.894C317.518,88.894 314.161,92.252 314.161,96.394L314.161,119.199L197.84,119.199L197.84,96.395C197.84,92.253 194.483,88.895 190.34,88.895L182.687,88.895L182.687,71.569ZM137.229,103.895L182.839,103.895L182.839,119.2L137.229,119.2L137.229,103.895ZM96.976,159.605L61.467,159.605L61.467,134.199L96.976,134.199L96.976,159.605ZM450.533,159.605L415.024,159.605L415.024,134.199L450.533,134.199L450.533,159.605Z" style="fill-rule:nonzero;"/>
											<path d="M504.5,285.607C500.357,285.607 497,288.965 497,293.107L497,458.033C497,465.037 491.302,470.736 484.297,470.736L27.703,470.736C20.698,470.736 15,465.037 15,458.033L15,293.107C15,288.965 11.643,285.607 7.5,285.607C3.357,285.607 0,288.965 0,293.107L0,458.033C0,473.308 12.428,485.736 27.703,485.736L484.297,485.736C499.572,485.736 512,473.308 512,458.033L512,293.107C512,288.965 508.643,285.607 504.5,285.607Z" style="fill-rule:nonzero;"/>
											<path d="M293.805,393.382L293.805,340.272L346.915,340.272C351.058,340.272 354.415,336.914 354.415,332.772L354.415,272.162C354.415,268.02 351.058,264.662 346.915,264.662L293.805,264.662L293.805,211.552C293.805,207.41 290.448,204.052 286.305,204.052L225.696,204.052C221.553,204.052 218.196,207.41 218.196,211.552L218.196,264.662L165.086,264.662C160.943,264.662 157.586,268.02 157.586,272.162L157.586,332.772C157.586,336.914 160.943,340.272 165.086,340.272L218.196,340.272L218.196,393.382C218.196,397.524 221.553,400.882 225.696,400.882L286.305,400.882C290.447,400.882 293.805,397.524 293.805,393.382ZM278.805,332.772L278.805,385.882L233.196,385.882L233.196,332.772C233.196,328.63 229.839,325.272 225.696,325.272L172.586,325.272L172.586,279.662L225.696,279.662C229.839,279.662 233.196,276.304 233.196,272.162L233.196,219.052L278.805,219.052L278.805,272.162C278.805,276.304 282.162,279.662 286.305,279.662L339.415,279.662L339.415,325.272L286.305,325.272C282.162,325.272 278.805,328.63 278.805,332.772Z" style="fill-rule:nonzero;"/>
										</g>
									</svg>
								span.direction__title Лечение
							.direction__bottom.panel
								p Несмотря на то, что я в большей степени хирург-флеболог, оперативное лечение провожу в том случае, когда это действительно необходимо, оперирую только те болезни и их стадии, которые требуют оперативного лечения. В моем арсенале современные высокоэффективные методы: 
									a(href="#anchor7").link ЭВЛО, 
									a(href="#anchor7").link минифлебэктомия, 
									a(href="#anchor7").link склеротерапия. 
									span Когда операция не показана, я назначаю консервативное лечение. Для лечения лимфедемы провожу 
									a(href="#anchor7").link бандажирование, мануальный 
									a(href="#anchor7").link лимфодренаж.
		
		section.results#anchor3
			.container
				h2.main-title.main-title--center Результаты
				h3.subtitle.subtitle--center Результаты
			.results__wrapper
				.container
					.results__circle
						span.circle-1
					.direction__circle
						span.circle-3
					//кнопки
					.results__buttons
						button.slick-prev.slick-arrow(aria-label="Previous" type="button")
						button.slick-next.slick-arrow(aria-label="Next" type="button")
					.result-slider.slick-slider-1
						.item
							.item__picture
								a(href="../images/results/item1.jpg" data-fancybox="gallery")
									img(src="../images/results/item1.jpg" alt="")
						.item
							.item__picture
								a(href="../images/results/item2.jpg" data-fancybox="gallery")
									img(src="../images/results/item2.jpg" alt="")
						.item
							.item__picture
								a(href="../images/results/item3.jpg" data-fancybox="gallery")
									img(src="../images/results/item3.jpg" alt="")
						.item
							.item__picture
								a(href="../images/results/item4.jpg" data-fancybox="gallery")
									img(src="../images/results/item4.jpg" alt="")
						.item
							.item__picture
								a(href="../images/results/item5.jpg" data-fancybox="gallery")
									img(src="../images/results/item5.jpg" alt="")
						.item
							.item__picture
								a(href="../images/results/item6.jpg" data-fancybox="gallery")
									img(src="../images/results/item6.jpg" alt="")
						.item
							.item__picture
								a(href="../images/results/item7.jpg" data-fancybox="gallery")
									img(src="../images/results/item7.jpg" alt="")
						.item
							.item__picture
								a(href="../images/results/item8.jpg" data-fancybox="gallery")
									img(src="../images/results/item8.jpg" alt="")
						.item
							.item__picture
								a(href="../images/results/item9.jpg" data-fancybox="gallery")
									img(src="../images/results/item9.jpg" alt="")
						.item
							.item__picture
								a(href="../images/results/item10.jpg" data-fancybox="gallery")
									img(src="../images/results/item10.jpg" alt="")
						.item
							.item__picture
								a(href="../images/results/item11.jpg" data-fancybox="gallery")
									img(src="../images/results/item11.jpg" alt="")
						.item
							.item__picture
								a(href="../images/results/item12.jpg" data-fancybox="gallery")
									img(src="../images/results/item12.jpg" alt="")


		section.about-me#anchor4
			.container
				.about-me__wrapper
					.about-me__left
						.about-me__picture
							img(src="../images/aboutme.png" alt="")
					.about-me__right
						h2.main-title Обо мне
						h3.subtitle Обо мне
						p.about-me__name Синицын Александр Александрович
						p.about-me__description врач флеболог, сосудистый хирург, врач УЗДГ
						.about-me__experience
							p стаж работы - 
								span 
									b 16 лет
							p квалификация - 
								span 
									b высшая категория
								.block(hidden)
									p За 16 лет работы во флебологии я прошел долгий путь практических изысканий, убирая неэффективные методы и внедряя в свою практику только те, которые имеют неоспоримый эффект, надежность, минимальную травматичность и высокую эстетичность. И хотя я позиционирую себя как флеболог, мой уровень знаний в области медицины не ограничивается одной флебологией. Я являюсь специалистом, который проводит диагностику и операции на периферических сосудах, коронарных артериях, артериях головного мозга. Это позволяет мне более широко смотреть на проблемы, с которыми обращаются ко мне пациенты.
									p Для себя я выделил приоритетные направления во флебологии, в которых достиг особого уровня мастерства. Во-первых, это лечение варикозной болезни. Я активно использую эндовенозную лазерную облитерацию (ЭВЛО). Провожу эту процедуру амбулаторно у пациентов с любой стадией варикозной болезни, а также при рецидивах после классической флебэктомии. Во-вторых, это эстетическая флебология – лечение ретикулярных вен и телеангиэктазий (сосудистых звездочек). Активно использую минифлебэктомию, все виды склеротерапии. В-третьих, занимаюсь лечением лимфатических и венозных отеков. Единственный специалист в области, который прошел обучение по бандажированию и мануальному лимфодренажу при лимфедеме в 2019 году. В-четвертых, являясь специалистом ультразвуковой диагностики, я лично провожу УЗИ сосудов своим пациентам. Это самый правильный подход во флебологии, когда специалист проводит и диагностику, и лечение. При таком подходе улучшаются результаты и качество лечения.
									p Постоянно занимаюсь самосовершенствованием, участвую в российских и зарубежных конференциях, мастер классах, образовательных школах, тренингах по флебологии. Участвую в научных исследованиях в сфере флебологии.
									p Большую роль в процессе становления меня как профессионала сыграла Курская областная клиническая больница. С 2012 года свою практическую деятельность я осуществляю в клинике «Мир Здоровья», где созданы оптимальные условия для лечения пациентов с венозными и лимфатическими заболеваниями.
									b Перечень методик, которыми я владею
									ul.about-me__list
										li эндовенозная лазерная облитерация (ЭВЛО/ЭВЛА/ЭВЛК);
										li минифлебэктомия по немецкой технологии Варади;
										li склеротерапия (микросклеротерапия, пенная склеротерапия (Foam-Form), Film – склеротерапия, ЭХО-склеротерапия);
										li бандажирование, мануальный лимфодренаж (лечение лимфедемы, отеков при хронической лимфовенозной недостаточности);
										li подбор компрессионного трикотажа;
										li подбор раневых повязок/покрытий;
										li местное лечение венозных трофических язв;
										li ультразвуковое ангиосканирование вен нижних конечностей;
										li ультразвуковое ангиосканирование вен верхних конечностей;
										li ультразвуковое ангиосканирование артерий нижних конечностей;
										li ультразвуковое ангиосканирование артерий верхних конечностей, шеи.
									b Консультация и лечение по вопросам заболеваний сосудов
									ul.about-me__list
										li Варикозная болезнь нижних конечностей
										li Ретикулярный варикоз
										li Телеангиэктазии (сосудистые звездочки)
										li Лимфедема
										li Тромбофлебит поверхностных вен
										li Тромбоз глубоких вен
										li Посттромботическая болезнь нижних конечностей
										li Венозные трофические язвы
										li Лечение венозных и лимфатических отеков
										li Консультация флеболога, УЗИ сосудов на дому
									b Действующие сертификаты
									ul.about-me__list
										li Сердечно-сосудистая хирургия
										li Хирургия
										li Ультразвуковая диагностика
										li Рентгенэндоваскулярные диагностика и лечение
									b Членство в обществах
									ul.about-me__list
										li Член «Ассоциации флебологов» (АФР)
										li Член «Российского общества ангиологов и сосудистых хирургов» (РОАиСХ)
										li Член «Национальной коллегии флебологов» (НКФ)
										li Член «Российского научного общество интервенционных кардиоангиологов» (РНОИК)
								
								a.show-text показать полностью
					.clearfix

		section.certificats
			.container
				h2.main-title.main-title--center Сертификаты
				h3.subtitle.subtitle--center Сертификаты
				.certificats-slider.slick-slider-4
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat1-big.jpg")
							img(src="../images/сertificats/certificat1.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat2-big.jpg")
							img(src="../images/сertificats/certificat2.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat3-big.jpg")
							img(src="../images/сertificats/certificat3.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat4-big.jpg")
							img(src="../images/сertificats/certificat4.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat5-big.jpg")
							img(src="../images/сertificats/certificat5.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat6-big.jpg")
							img(src="../images/сertificats/certificat6.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat7-big.jpg")
							img(src="../images/сertificats/certificat7.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat8-big.jpg")
							img(src="../images/сertificats/certificat8.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat9-big.jpg")
							img(src="../images/сertificats/certificat9.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat10-big.jpg")
							img(src="../images/сertificats/certificat10.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat11-big.jpg")
							img(src="../images/сertificats/certificat11.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat12-big.jpg")
							img(src="../images/сertificats/certificat12.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat13-big.jpg")
							img(src="../images/сertificats/certificat13.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat14-big.jpg")
							img(src="../images/сertificats/certificat14.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat15-big.jpg")
							img(src="../images/сertificats/certificat15.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat16-big.jpg")
							img(src="../images/сertificats/certificat16.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat17-big.jpg")
							img(src="../images/сertificats/certificat17.jpg")
					.item
						a(data-fancybox="gallery2" href="../images/сertificats/certificat18-big.jpg")
							img(src="../images/сertificats/certificat18.jpg")

		section.reviews#anchor5
			.container

				h2.main-title Отзывы
				h3.subtitle Отзывы
			.reviews__slider
				.container
					.reviews__circle
						span.circle-1
					.reviews-slider.slick-slider-2
						a.item.review-mini
							p 10 марта 2020 года удаляла вены на ноге с помощью лазера. Хирург-флеболог Синицын Александр Александрович - высококвалифицированный специалист. Тактичен и внимателен к пациентам. Он в совершенстве знает своё дело. Центр "Мир Здоровья" располагает современным оборудованием, в случае необходимости предложат вам компрессионное бельё. Всем, кому необходима подобная операция, обращайтесь к этому специалисту. Хочу выразить слова искренней благодарности и признательности Синицыну А. А. и всему медперсоналу клиники "Мир Здоровья". З. Горбунова.
							span.reviews-slider__initials Иванов Петр
						a.item.review-mini
							p Здравствуйте, делала операцию 24 марта, операцией довольна, удаляли вены лазером. Синицын Александр Александрович - врач с большой буквы. Советую всем, у кого варикозное расширение вен. А доктору хочу пожелать здоровья, сил, терпения. Да, хочу сказать, медперсонал замечательный. Идешь туда с желанием. Спасибо вам большое. Здоровья вам и вашим близким. Хочу отметить, что в клинике [...] мне сказали, что в моем случае операцию ЭКЛК делать нельзя. Однако это не так. Вторую ногу обязательно буду делать в клинике "Мир Здоровья" у доктора Синицына А. А.
							span.reviews-slider__initials Иванов Петр
						a.item.review-mini
							p Редко опираюсь на отзывы в интернете, но, к счастью, среди знакомых нашлись те, кто подтвердил, что к Александру можно идти смело. Идти было крайне страшно, так как варикоз у меня был очень запущен и беспокоил меня более 15 лет. Толстые синие страшные вены окутывали всю голень и даже колено, вид настолько кошмарный, что, казалось, проще ногу отрезать, чем что-то там лечить. На приеме сразу стало ясно, что я в надежных руках, и без тени сомнения я согласился на операцию.
							span.reviews-slider__initials Иванов Петр
						a.item.review-mini
							p Пишу отзыв, только сняв бинты после операции. Трудно передать эмоции, когда после 15 лет мучений видишь свою аккуратную гладкую, без страшных бугров ногу (небольшие синяки, судя по их виду, пройдут за неделю-две). Операция была 3-й категории сложности. Как волнуется человек перед подобным днём, думаю, никому объяснять не надо, но когда я зашёл в операционную, беспокойство быстро прошло. Сложилось такое ощущение, что мне сейчас не вены будут удалять, а мои старые товарищи пришли ко мне помочь ремонт делать или машину чинить! Настолько душевные доктора и анестезиологи, что продолжать волноваться было просто нереально. Это действительно было менее страшно, чем идти к стоматологу. Зашёл, лёг, заснул, проснулся, иди гуляй. Таким людям, как я, которые тянут до последнего, боятся идти к доктору, предвкушая страшный диагноз, я настоятельно рекомендую, смело идти на приём к Александру! Поверьте, это не страшнее, чем идти к другу за жизнь поболтать. На приеме мне рассказали про вены и операции просто все! Я как будто энциклопедию по венам прослушал. Буду рекомендовать всем, кто страдает от вен, Александра и его коллег!
							span.reviews-slider__initials
						a.item.review-mini
							p Мы очень благодарны Синицыну Александру Александровичу за качественную работу и за его золотые руки. Он оперировал моего сына. Операция прошла успешно, без осложнений.
							span.reviews-slider__initials
						a.item.review-mini
							p Совершенно потрясающий врач. Умеет не только лечить, но и находить с пациентом общий язык. Я абсолютно довольна результатами и очень рада, что попала к Александру Александровичу
							span.reviews-slider__initials
						a.item.review-mini
							p Золотые руки и отзывчивость главные характеристики Александра Александровича. Претензий нет ни к отношению, ни к качеству лечения. Посоветовал сделать лазер, обращалась с варикозом на серьезной стадии. Распрощалась с ужасными венами буквально за несколько сеансов примерно по 40 минут. Быстро, эффективно. Самое главное, что после процедуры можно сразу идти домой. Рекомендую и этого доктора, и лазерное лечение. По-моему, самый лучший вариант в наше время.
							span.reviews-slider__initials
						a.item.review-mini
							p Отзывчивый и внимательный врач. По лечению врач всё объяснил, что, как и почему. В общем, с выбором врача считаю, что не ошиблась. Но ноги я свои запустила и за лечением обратилась поздно. Отеки постоянно, долго если хожу то появляются невыносимые боли. Без операции не обойтись. Но сначала надо сдать анализы. Также после операции придется носить специальное компрессионное белье.
							span.reviews-slider__initials


		section.activities#anchor6
			.container
				//- .activities__circle
				//- 	span.circle-1
				h2.main-title.main-title--center#anchor7
					span.on-mobile Виды деятельности
					span.on-desktop Направления деятельности
				h3.subtitle.subtitle--center 
					span.on-mobile Виды деятельности
					span.on-desktop Направления деятельности
				.activities__wrapper.slick-slider-3
					.item
						.activities__left
							p.activities__title Эндовенозная лазерная облитерация (ЭВЛО)
							p Эндовенозная лазерная облитерация (ЭВЛО) – на сегоднящний день является "золотым"стандартом в лечении варикозной болезни. Суть метода заключается в термическом воздействии лазерным световодом на вену изнутри, что приводит к повреждению венозной стенки. Поврежденная таким образом вена со временем полностью исчезает. При этом воздействие приходится только на стенку вену без повреждения окружающих тканей, что делает метод наименее травматичным и, как следствие, хорошо переносимым пациентами. 
							block.text-hidden(hidden) Восстановительный период после такого вмешательства короткий, пациентам разрешается выходить на работу на следующий день после операции. При проведении ЭВЛО не требуется выполнять разрезов кожи, все манипуляции делаются через проколы, под местной анестезией.Таким образом значительно снижается  уровень болевых ощущений, и повышается косметичность процедуры. Пациенты не ограничены в своей повседневной жизни, могут гулять, посещать любые заведения, заниматься домашними делами. Сама процедура занимает в среднем 15-30 минут в зависимости от анатомических особенностей строения вены. ЭВЛО часто комбинируют со склеротерарией и минифлебэктомией.
							a.show-text показать полностью
						.activities__right
							picture
								source(media="(min-width: 992px)" srcset="../images/activities/item6.png")
								source(media="(min-width: 320px)" srcset="../images/activities/item6-mobile.png")
								img(src="../images/activities/item6.png")
					.item
						.activities__left
							p.activities__title Склеротерапия
							p Склеротерапия – широко распространенный метод лечения хронических заболеваний вен. С помощью склеротерапии можно устранить как крупные варикозные вены, которые представляют собой проблему для здоровья, так и мелкие сосудистые звездочки, то есть эстетический дефект. Склеротерапия – это химический метод лечения, основной целью которого является химическое разрушение внутренних слоев стенки вены, что приводит к прекращению кровотока в ней и ее исчезновению в течение некоторого времени (от 2 недель, если это мелкие сосудистые звездочки, до полугода, если крупные подкожные вены).  
							block.text-hidden(hidden) В качестве склерозанта (вещества, которое разрушает вену) в нашей стране используются препараты: натрия тетрадецилсульфат (фибро-вейн) и полидоканол (этоксисклерол). Эти препараты можно вводить в вену в жидкой форме или в виде пены. Склеротерапия имеет ряд преимуществ перед другими методами: малоболезненный, не требующий анестезии метод, выполняется амбулаторно и не ограничивает работоспособность пациента. Метод имеет хороший косметический результат. Однако этот результат можно увидеть не сразу, требуется определенное терпение и пациента, и флеболога в его достижении, в некоторых случая возникает необходимость повторного введения склерозанта. Кроме того, нередко на месте обработанной вены или сосудистой звездочки возникает гиперпигментация (потемнение участка кожи). Это реакция кожи на процессы происходящие в стенке вены после введения препарата или на наличие оставшихся разрушенных клеток крови в вене. Гиперпигментация – явление временное. Чаще всего, в течение нескольких недель или месяцев она исчезает, но бывают случаи стойкой гиперпигментации, которая сохраняется в течение нескольких лет. Это зависит от типа кожи пациента. Другой неприятный момент, который может возникнуть после склеротерапии, это вторичные телеангиэктазии – мельчайшие сосуды, которые либо исчезают сами через некоторое время, либо требуют повторного проведения склеротерапии. Частота побочных реакций и окончательный результат, зависят и от опыта специалиста.
							a.show-text показать полностью
						.activities__right
							picture
								source(media="(min-width: 992px)" srcset="../images/activities/item4.png")
								source(media="(min-width: 320px)" srcset="../images/activities/item4-mobile.png")
								img(src="../images/activities/item6.png")
					.item
						.activities__left
							p.activities__title Минифлебэктомия
							p Минифлебэктомия – это малотравматичное вмешательство, то есть устранение варикозно измененных вен через проколы. Любая вена, и крупная, и мелкая, несмотря на внушающий размер в положении человека стоя, спадается лежа и становится легко извлекаемой через проколы в 1-3 мм. Эти проколы настолько малы, что быстро заживают, обесцвечиваются и становятся совершенно незаметными на коже, никаких следов операции и варикозных вен не остается. За счет малой травматичности достигается короткий период реабилитации после операции. В большинстве случаев пациенты активны и трудоспособны. После вмешательства, как правило 2 недели, рекомендуется ношение компрессионного белья. 
							block.text-hidden(hidden) Проведение минифлебэктомии требует обезболивания. Чаще всего достаточно местной анестезии. Для анестезии используются те же препараты, что и в стоматологической практике: либо лидокаин, либо артикаин, в редких случаях ропивакин. Осложнения и побочные реакции минифлебэктомии встречаются редко. Синяки и болезненные ощущения чаще всего не требуют приема анальгетиков и уходят в течение 1-3 недель. Может возникнуть легкая гиперпигментация, но она не бросается в глаза и быстро исчезает. Вторичные телеангиэктазии (сосудистые звездочки) – явление редкое и в большинстве случаев самостоятельно проходящее, хотя иногда возникает необходимость коррекции сосудистых звездочек с помощью склеротерапии после минифлебэктомии.  Осложнения в виде тромбоза глубоких вен, тромбофлебита поверхностных вен, тромбоэмболии легочной артерии и пр. возникают крайне редко.
							a.show-text показать полностью
						.activities__right
							picture
								source(media="(min-width: 992px)" srcset="../images/activities/item2.png")
								source(media="(min-width: 320px)" srcset="../images/activities/item2-mobile.png")
								img(src="../images/activities/item6.png")
					.item
						.activities__left
							p.activities__title Ультразвуковое ангиосканирование
							p Ультразвуковое ангиосканирование - ультразвуковое исследование сосудов. В руках флеболога ультразвуковой датчик - это то же самое, что и фоноэндоскоп в руках терапевта. Флеболог и УЗИ – две взаимодополняющие части. С помощью ультразвука флеболог не просто видит анатомию сосудов, их диаметр, наличие или отсутствие тромботических масс в просвете вены, флеболог, проводя исследование, одновременно отвечает себе на поставленные им же вопросы перед исследованием, и возникающие во время исследования. 
							block.text-hidden(hidden) УЗИ помогает доктору нарисовать в своей голове полную картину болезни, понять, как ее устранить, спланировать операцию, если она требуется, спрогнозировать результат. Кроме того, большинство вмешательств на венозной системе (например, ЭВЛО, РЧО, Венасил,  Флебогриф, склеротерапия) возможно только под ультразвуковой  навигацией.
							a.show-text показать полностью
						.activities__right
							picture
								source(media="(min-width: 992px)" srcset="../images/activities/item3.png")
								source(media="(min-width: 320px)" srcset="../images/activities/item3-mobile.png")
								img(src="../images/activities/item6.png")
					.item
						.activities__left
							p.activities__title Мануальный лимфодренаж
							p Мануальный лимфодренаж – особая ручная массажная техника, которая применяется для выведения избытка лимфы и других жидкостей из тканей. На профессиональном уровне провести эту процедуру сможет только квалифицированный специалист. 
							block.text-hidden(hidden) Мануальный лимфодренаж нормализует процессы оттока жидкости при тяжелых стадиях хронических заболеваниях вен, сопровождающихся венозной недостаточностью, лимфедеме, ожирении, при наличии сидячей работы или чрезмерных физических нагрузках.
							a.show-text показать полностью
						.activities__right
							picture
								source(media="(min-width: 992px)" srcset="../images/activities/item5.png")
								source(media="(min-width: 320px)" srcset="../images/activities/item5-mobile.png")
								img(src="../images/activities/item6.png")
					.item
						.activities__left
							p.activities__title Компрессионная терапия
							p Компрессионная терапия, а именно бандаж – основной компонент лечения заболеваний лимфатической системы (лимфедемы) и тяжелых форм хронических заболеваний вен, осложненных лимфатической недостаточностью. Компрессионная терапия направлена на устранение отека, который со временем может быть настолько выраженным, что приводит к инвалидизации человека. 
							block.text-hidden(hidden) Никакая медикаментозная терапия не способна справиться с лимфатическим отеком. Убрать отек можно только с помощью компрессии, которую создают специальные бандажные системы, либо бинты низкой растяжимости. Наложение бандажа – технически сложная процедура. Только хорошо обученный специалист может правильно наложить бандаж, который будет оказывать лечебный эффект, и в котором пациенту будет комфортно. В нашей стране это направление слабо развито, а количество специалистов ограничено.
							a.show-text показать полностью
						.activities__right
							picture
								source(media="(min-width: 992px)" srcset="../images/activities/item1.png")
								source(media="(min-width: 320px)" srcset="../images/activities/item1-mobile.png")
								img(src="../images/activities/item6.png")



	footer.main-footer
		.container
			.main-footer__wrapper
				ul.main-footer__list
					li.main-footer__list-title Адрес
					li.main-footer__list-item 
						a(href="https://yandex.ru/maps/8/kursk/house/prospekt_pobedy_50/Z08YdwBhTEIFQFtrfXt5c3VnYA==/?ll=36.171572%2C51.782944&sll=36.192647%2C51.730361&sspn=0.580902%2C0.211273&z=17") пр-т Победы 50, "Мир здоровья"
				ul.main-footer__list
					li.main-footer__list-title Номер
					li.main-footer__list-item 
						a(href="tel:89202624422") 8 (920) 262 44 22
				ul.main-footer__list
					li.main-footer__list-title 
						span.main-footer__social-title Социальные сети
						ul.main-footer__social
							li
								a(href="mailto:flebolog.sinitsyn@yandex.ru").email
							li
								a(href="https://instagram.com/flebolog46?igshid=wkh3oob6msdj").inst
							li
								a(href="https://instagram.com/flebolog46?igshid=wkh3oob6msdj").fb
			span.copyright Сделано в 
				a(href="http://kvokka.com/") kvokka
	.mobile-menu
		ul.mobile-menu__list
			li
				a(href="#anchor1") Главная
			li
				a(href="#anchor2") Направления
			li
				a(href="#anchor3") Результаты
			li
				a(href="#anchor4") Обо мне
			li
				a(href="#anchor5") Отзывы
			li
				a(href="#anchor6") Контакты
			li
				div.close
	#overlay
		#popup
			p Вы можете связаться со мной любым <br> удобным для вас способом:
				ul.main-footer__social
					li
						a(href="mailto:flebolog.sinitsyn@yandex.ru").email
					li
						a(href="https://instagram.com/flebolog46?igshid=wkh3oob6msdj").inst
					li
						a(href="https://instagram.com/flebolog46?igshid=wkh3oob6msdj").fb
					
	#overlay-review
		#popup-review
			.review-big
				p 10 марта 2020 года удаляла вены на ноге с помощью лазера. Хирург-флеболог Синицын Александр Александрович - высококвалифицированный специалист. Тактичен и внимателен к пациентам. Он в совершенстве знает своё дело. Центр "Мир Здоровья" располагает современным оборудованием, в случае необходимости предложат вам компрессионное бельё. Всем, кому необходима подобная операция, обращайтесь к этому специалисту. Хочу выразить слова искренней благодарности и признательности Синицыну А. А. и всему медперсоналу клиники "Мир Здоровья". З. Горбунова.
				span.reviews-slider__initials Иванов Петр
			.review-big
				p Здравствуйте, делала операцию 24 марта, операцией довольна, удаляли вены лазером. Синицын Александр Александрович - врач с большой буквы. Советую всем, у кого варикозное расширение вен. А доктору хочу пожелать здоровья, сил, терпения. Да, хочу сказать, медперсонал замечательный. Идешь туда с желанием. Спасибо вам большое. Здоровья вам и вашим близким. Хочу отметить, что в клинике [...] мне сказали, что в моем случае операцию ЭКЛК делать нельзя. Однако это не так. Вторую ногу обязательно буду делать в клинике "Мир Здоровья" у доктора Синицына А. А.
				span.reviews-slider__initials Иванов Петр
			.review-big
				p Редко опираюсь на отзывы в интернете, но, к счастью, среди знакомых нашлись те, кто подтвердил, что к Александру можно идти смело. Идти было крайне страшно, так как варикоз у меня был очень запущен и беспокоил меня более 15 лет. Толстые синие страшные вены окутывали всю голень и даже колено, вид настолько кошмарный, что, казалось, проще ногу отрезать, чем что-то там лечить. На приеме сразу стало ясно, что я в надежных руках, и без тени сомнения я согласился на операцию.
				span.reviews-slider__initials Иванов Петр
			.review-big
				p Пишу отзыв, только сняв бинты после операции. Трудно передать эмоции, когда после 15 лет мучений видишь свою аккуратную гладкую, без страшных бугров ногу (небольшие синяки, судя по их виду, пройдут за неделю-две). Операция была 3-й категории сложности. Как волнуется человек перед подобным днём, думаю, никому объяснять не надо, но когда я зашёл в операционную, беспокойство быстро прошло. Сложилось такое ощущение, что мне сейчас не вены будут удалять, а мои старые товарищи пришли ко мне помочь ремонт делать или машину чинить! Настолько душевные доктора и анестезиологи, что продолжать волноваться было просто нереально. Это действительно было менее страшно, чем идти к стоматологу. Зашёл, лёг, заснул, проснулся, иди гуляй. Таким людям, как я, которые тянут до последнего, боятся идти к доктору, предвкушая страшный диагноз, я настоятельно рекомендую, смело идти на приём к Александру! Поверьте, это не страшнее, чем идти к другу за жизнь поболтать. На приеме мне рассказали про вены и операции просто все! Я как будто энциклопедию по венам прослушал. Буду рекомендовать всем, кто страдает от вен, Александра и его коллег!
				span.reviews-slider__initials Иванов Петр			
			.review-big
				p Мы очень благодарны Синицыну Александру Александровичу за качественную работу и за его золотые руки. Он оперировал моего сына. Операция прошла успешно, без осложнений.
				span.reviews-slider__initials Иванов Петр			
			.review-big
				p Совершенно потрясающий врач. Умеет не только лечить, но и находить с пациентом общий язык. Я абсолютно довольна результатами и очень рада, что попала к Александру Александровичу
				span.reviews-slider__initials Иванов Петр			
			.review-big
				p Золотые руки и отзывчивость главные характеристики Александра Александровича. Претензий нет ни к отношению, ни к качеству лечения. Посоветовал сделать лазер, обращалась с варикозом на серьезной стадии. Распрощалась с ужасными венами буквально за несколько сеансов примерно по 40 минут. Быстро, эффективно. Самое главное, что после процедуры можно сразу идти домой. Рекомендую и этого доктора, и лазерное лечение. По-моему, самый лучший вариант в наше время.
				span.reviews-slider__initials Иванов Петр			
			.review-big
				p Отзывчивый и внимательный врач. По лечению врач всё объяснил, что, как и почему. В общем, с выбором врача считаю, что не ошиблась. Но ноги я свои запустила и за лечением обратилась поздно. Отеки постоянно, долго если хожу то появляются невыносимые боли. Без операции не обойтись. Но сначала надо сдать анализы. Также после операции придется носить специальное компрессионное белье.
				span.reviews-slider__initials Иванов Петр