// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-text: #4D4D4D;
$color-dark-blue: #185B8D;
$color-grey: #E6E6E6;

// FONTS

$opensans-font: "OpenSans", sans-serif;